@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms; 
} 
 .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} 

body{
   background-color: rgba(255, 255, 255, 0.7);  
  background-image: url("./19660-900x900.png");
  background-attachment:fixed;
  background-size:auto;
  background-blend-mode: overlay;

}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
h1{
  color: #FF1900;
}
h3{
 color:#FF0067;

}
button{
  color:#FF0067;
  margin:5px;
  
}
button:hover{
  color: #FF9800;
  background-color: #FF0067;
  border: #fff7e6;

}
form{
  background-Color:#FF9800;
  padding:30px;
  border-Radius:20px;
  text-shadow: 2px 2px 4px rgba(74, 72, 72, 0.5);

}
.add{
  background-color: #fff7e6;
}
ul{
  background-Color:#FF9800;
  padding:10px;
  border-Radius:20px;
  text-align: left;
  
}
.btnNav{
  margin:10px;
  color:#FF1900;
  background-color: #FF9800;
}
.container{
  background-color: #FF9800;
  margin:8px;
  padding: 8px;
  border-Radius:20px;
  color: white;
  text-shadow: 10px rgba(74, 72, 72, 0.5);
}
.line{
  background-color: white;
  border-Radius:20px;
  margin: 8px;
  padding: 15px;
  color:black;
  text-align: left;
  width: auto;
  box-sizing: border-box; /* לכלול פדינג ובורדר בתוך הגודל */
}
h4{
  color: #FF1900;
  text-shadow: 2px 2px 4px rgba(74, 72, 72, 0.5);

}
.photos,.comment{
  background-color: #FF0067;
  margin:4px;
  padding: 1px;
  border-Radius:20px;
  color: white;
  /* height: 5%; */
  /* align-items: center;
  justify-items: center; */
  
}
.on{
  border: 4px solid #FF0067; /* בורדר עבה בצבע כתום בולט */
  border-radius: 20px; /* פינות מעוגלות */
  padding: 10px; /* מרווח פנימי */
  margin: 5px 0; /* מרווח חיצוני */
  background-color: #fff7e6; /* רקע בצבע קרם */
  box-shadow: 0 0 15px rgba(61, 55, 52, 0.5); /* הוספת צל לבורדר */
  font-weight: bold; /* טקסט מודגש */
  text-align: left; /* מרכז טקסט */
  color: black;
  /* flex-wrap: wrap;
  display: flex; */


}
div{
  align-items: center;
}
img{
  width: 250px;
  height: 200px;
}
button.signUp{
  color: "blue" !important;
  text-decoration: "none" !important;
  background: "none" !important;
  border: "none" !important;
  cursor: "pointer" !important;
}